$primary-color-bg : linear-gradient(#9d5bf3, #272487);
$secondary-color-bg : white;
$primary-color-text: #342393;
$secondary-color-text: darken($color: #CAF0F8, $amount: 40);
$img-bg:  #61BBB6;
$title-offset:  #61BBB6;
$dark-grey: #191A19;
$bg-image-section: #9d5bf3;
$font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

//auth
$auth-input-bg: #CAF0F8;
$titles-font-family: 'Helvetica Neue';

//landing
$landing-icon-color: #EA168E;
$font-family-landing-title: Impact, fantasy;
$font-family-landing: 'Bradley Hand', cursive;
$font-color-landing: #565678;
$font-color-landing-title: linear-gradient(#a03efa,#0e6fbb);
$font-color-landing-title-after:#a03efa;
$text-black: #212121;

//barra sup Whats an atom?
$barra-color-bg:#151D3B;
$options-text: darken($color: $auth-input-bg, $amount: 40);
$options-bg: #333;
$options-bg-offset: #f2f2f2;